<div class="modal fade" 
     id="stripeModal" 
     tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

     <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        </div>
        <div class="modal-body mx-2 text-center">

          <strong>Stripe Secrets</strong> not provided in environment
          <br>
          Update your configuration or get <a target="_blank" class="text-primary" href="https://appseed.us">support</a>.

        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

</div>

