# APP Environment 

DEBUG=True

# APP SECRET_KEY
SECRET_KEY=<STRONG_KEY_HERE>

# Stripe Secrets
STRIPE_PUBLISHABLE_KEY= YOUR_STRIPE_SECRET_KEY
STRIPE_SECRET_KEY= YOUR_STRIPE_PUBLISHABLE_KEY

# Server Address (used by Stripe callback)
# Should be the URL used to start the APP
SERVER_ADDRESS=http://localhost:8000/
